
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>

    <link href="~/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()
</body>
</html>
