@model  IEnumerable<Calisan>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <table class="table table-dark mt-3">


            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>



            <tbody>

                @foreach (var item in Model)
                {

                    <tr>
                        <th scope="row">1</th>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td> </td>
                    </tr>
                }





            </tbody>foreach


        </table>
    </div>